/* general.css */

/* General styles */
.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f0f0f0;
}

/* GridPane styles */
.grid-pane {
    -fx-padding: 20px;
}

/* VBox styles */
.vbox {
    -fx-padding: 20px;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 10);
}